<h2 class="center">Sign up</h2></br>  
<div class="row">
  <div class="col-md-12">
    <%= form_for(resource, as: resource_name, html: {class: "form-horizontal", role: "form"}, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :name %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :email %>
        </div>
        <div class="col-md-4">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :password %>
        </div>
        <div class="col-md-4">
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
        <div class="col-md-4">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :password_confirmation %><br />
        </div>
        <div class="col-md-4">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
