<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= image_tag listing.image.url(:thumb) %></td>
        <td><%= listing.name %></td>
        <td><%= listing.description %></td>
        <td><%= number_to_currency(listing.price) %></td>
        <td><%= listing.created_at.strftime("%d/%m/%Y") %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Action
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
              <li><%= link_to "View", listing, class: "btn btn-link" %></li>
              <li><%= link_to "Edit", edit_listing_path(listing), class: "btn btn-link" %></li>
              <li><%= link_to "Destroy", listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
<br>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class:"btn btn-link" %>
<% end %>