<div class="row">
  <div class="col-md-6">
  <div class="thumbnail">
    <%= image_tag @listing.image.url %>
  </div>
  </div>
  <div class="col-md-6">
    <h3><%= @listing.name %></h3>
    <p><%= number_to_currency(@listing.price) %></p>
    <p><%= @listing.description %></p>
    <br>
    <div class="center">
      <% if current_user != @listing.user%>
        <%= link_to 'Buy it now', new_listing_order_path(@listing), class: "btn btn-primary", data: { no_turbolink: true } %>
      <% end %>      
    </div>
  </div>
</div>

<% if current_user == @listing.user%>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', listings_path, class: "btn btn-link" %>