
<%= form_for [@article,@comment], :html=> { class: "form-horizontal", role: "form" } do |f| %>
  <% if @comment.errors.any? %>
    <%= render 'shared/error_messages', object: @comment %>
  <% end %>

  <div class="form-group">
    <div class="control-label col-md-10">
      <%= f.text_area :body, rows: 5, class: "form-control", placeholder: 'Your comment' %>
    </div>
    <div class="col-md-offset-3 col-md-9">
      </br><%= f.submit "Add comment", class: "btn btn-primary"%>
    </div>
  </div>
<% end %>