<header>
  <h2>Comments</h2>
</header>

<% if @article.comments.any? %>
  <% @article.comments.persisted.each do |comment| %>
    <div class="list-group">
      <div class="list-group-item">
        <h5 class="list-group-item-heading"><%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.email %></h5>
        <p class="list-group-item-text"><%= comment.body  %></p>
      </div>
    </div>
  <% end %>
<% else  %>
    There are no comments to show
<% end %>