<div class="row">
  <div class="pull-right range-query">
    <%= form_tag invoices_path, method: :get do %>
    <%= text_field_tag 'search[date_from]', @search.date_from %>
    <%= text_field_tag 'search[date_to]', @search.date_to %>
    <%= submit_tag 'Search', class: "btn search-button" %>
    <% end %>
    <br>
  </div>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Company</th>
      <th>Tax</th>
      <th>Salesperson</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= invoice.company %></td>
        <td><%= invoice.tax %></td>
        <td><%= invoice.salesperson %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Action
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
              <li><%= link_to "View", invoice, class: "btn btn-link" %></li>
              <li><%= link_to "Edit", edit_invoice_path(invoice), class: "btn btn-link" %></li>
              <li><%= link_to "Destroy", invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Invoice', new_invoice_path, class:"btn btn-link" %>
<% end %>