<div class="row">
  <div class="col-md-6">
    <h3><%= @invoice.company %></h3>
    <p>
      <strong>Date:</strong>
      <%= @invoice.created_at.strftime("%d/%m/%Y") %>
    </p>
    <p>
      <strong>Tax:</strong>
      <%= @invoice.tax %>
    </p>
    <p>
      <strong>Salesperson:</strong>
      <%= @invoice.salesperson %>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_invoice_path(@invoice), class: "btn btn-link" %> |
<%= link_to 'Back', invoices_path, class: "btn btn-link" %>
