<%= form_for [@article], :html=> { class: "form-horizontal", role: "form" } do |f| %>
  <% if @article.errors.any? %>
    <%= render 'shared/error_messages', object: @article %>
  <% end %>

  <div class="form-group">
    <div class="col-md-2">
      <%= f.label :title %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2">
      <%= f.label :body %>
    </div>
    <div class="col-md-4">
      <%= f.text_area :body, rows: 10 , class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
      <%= f.submit class: "btn btn-success" %>
    </div>
  </div>
<% end %>