<div class="row">
    <%= link_to 'Back', articles_path, class: "btn btn-default" %>
    <%= link_to 'Show', @article, class: "btn btn-primary btn-lnk" %>
</div>
<h2 class="center">Editing Article</h2></br>

<%= render 'form' %>