<h1 class="center">Listing Articles</h1>

<div class="row">
  <div class="col-md-12">
      <% if user_signed_in? %>
        <%= link_to 'New Article', new_article_path, class: "btn btn-link", id: "new-article-btn" %>
      <% end %>
      <% @articles.each do |article| %>
      <div class="well well-lg">
        <div class="article">
          <h2><%= link_to article.title, article_path(article)%></h2>
        </div>
        <div class="article-body">
          <%= truncate(article.body, length: 500) %>
        </div>
        <div class="author">
          <small>Created by: <%= article.user.email %></small>
        </div>
      </div>
      <% end %>
  </div>
</div>