<div class="row">
  <div class="col-md-10">
  <%= link_to 'Back', articles_path, class: "btn btn-default" %>
    <article class="detail-article">
      <h1 class="article-detail-title"><%= @article.title %></h1>
      <div class="glyphicon glyphicon-calendar" id="article-date">
        <%= @article.created_at.strftime("%b %d, %Y") %>
      </div>
      <div class="article-body">
        <%= @article.body %>
      </div>
    </article>
      <% if user_signed_in? && current_user == @article.user %>
        </br>
        <%= link_to 'Edit Article', edit_article_path(@article), class: "btn btn-warning" %>
        <%= link_to 'Destroy Article', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
    <%= render 'comments/form' %>
    <%= render 'comments/listing_comments' %>
  </div>
</div>