<%= form_for [@company], :html=> { class: "form-horizontal", role: "form" } do |f| %>
  <% if @company.errors.any? %>
    <%= render 'shared/error_messages', object: @company %>
  <% end %>

  <div class="form-group">
    <div class="col-md-2">
      <%= f.label :name %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2">
      <%= f.label :manager %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :manager, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2">
      <%= f.label :status %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :status, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2">
      <%= f.label :terms %>
    </div>
    <div class="col-md-4">
      <%= f.number_field :terms, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
