<div class="row">
    <%= link_to 'Back', companies_path, class: "btn btn-default" %>
    <%= link_to 'Show', @company, class: "btn btn-primary btn-lnk" %>
</div>
<h2 class="center">Editing Company</h2></br>

<%= render 'form' %>