<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Manager</th>
      <th>Status</th>
      <th>Terms</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.manager %></td>
        <td><%= company.status %></td>
        <td><%= company.terms %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Action
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
              <li><%= link_to "View", company, class: "btn btn-link" %></li>
              <li><%= link_to "Edit", edit_company_path(company), class: "btn btn-link" %></li>
              <li><%= link_to "Destroy", company, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row" id="wraper">    
    <div class="center-div">
      <%= will_paginate @vehicles, renderer: BootstrapPagination::Rails %>
    </div>
</div>

<h3>Import Companies</h3>
<div class="row">
  <%= form_tag import_companies_path, multipart: true do %>
  <div class="col-md-4">
    <div class="form-group">
      <%= file_field_tag :file, class: "form-control"%>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= submit_tag "Upload Companies", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>

<%= link_to 'New Company', new_company_path, class: "btn btn-link" %>
