<div class="row">
  <div class="col-md-6">
    <h3><%= @company.name %></h3>

    <p>
      <strong>Manager:</strong>
      <%= @company.manager %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @company.status %>
    </p>

    <p>
      <strong>Terms:</strong>
      <%= @company.terms %>
    </p>
  </div>
</div>
<%= link_to 'Edit', edit_company_path(@company), class: "btn btn-link" %> |
<%= link_to 'Back', companies_path, class: "btn btn-link" %>
