<h2 class="center">Log in</h2></br>  
<div class="row">
  <div class="col-md-12">
    <%= form_for(resource, as: resource_name, html: {class: "form-horizontal", role: "form"}, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :email %>
        </div>
        <div class="col-md-4">
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :password %>
        </div>
        <div class="col-md-4">
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.check_box :remember_me%>
          </div>
          <div class="col-md-4">
            <%= f.label :remember_me %>
          </div>
        </div>
      <% end -%>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <%= f.submit "Login", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>