@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
  background-color: #EFEFEB;
}

.navbar-default .navbar-brand {
  font-family: guardian-egypt, georgia, serif;
  font-weight: 400;
  color: #d5641c;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #019285;
}

.center {
  text-align: center;
}

/*.col-md-4:nth-child(3n+1) {
  clear: left;
}*/

/*for 3*/
.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {font-size: 45px;}
  h5 {font-size: 25px;}
  p {font-size: 18px;}
}

.caption {
  h3 {
    font-size: 15px;
    margin: 2px;
  }
  p {
    font-size: 15px;
    margin: 0px;
  }
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.table td, .table th {
   text-align: center;   
}

.jumbotron {
  background-image: url('https://dl.dropboxusercontent.com/s/96pvoa5aqhrh9k8/jumbotron.png?dl=0');
  h1,h2 {
    font-family: guardian-egypt, georgia, serif;
  }
}

.article-title, .article.body {
  padding-left: 0.7em;
}

.article-title {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 08em;
}

.article-body {
  font-size: 1.5em;
}

#new-article-btn {
  margin-bottom: 10px;
}

#article-date {
  margin-bottom: 40px;
}

#article-detail-title {
  font-size: 4em;
  margin-bottom: 40px;
}

.author {
  padding-top: 15px;
  padding-left: 15px;
  font-style: italic;
}